# Elasticsearch
ELASTICSEARCH_URL=http://elasticsearch:9200
ES_INDEX=documents

# Postresql
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/documents

# Uvicorn
HOST=0.0.0.0
PORT=8000
WORKERS=1